@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    padding: 0 3em;
}

.advice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

.advice-wrapper{
    width: 100%;
    max-width: 600px;
    padding: 4em;
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.advice-id{
    color: hsl(150, 100%, 66%);
}

.advice{
    color: hsl(193, 38%, 86%);
    font-size: 1.7rem;
    font-weight: 800;
}

.dice{
    position: absolute;
    bottom: -25px;
    background-color: hsl(150, 100%, 66%);
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.dice img{
    width: 30px;
    display: block;
}

.divider{
    display: block;
}

.error h1{
    font-size: 17px;
    font-weight: 800;
    color: red;
}

marquee{
    font-size: 1.5rem;
    color: hsl(150, 100%, 66%);
}

@media screen and (max-width: 600px){
    .advice-wrapper{
        max-width: 100%;
        padding:3em 5%;
    }
}

@media screen and (max-width: 508px){
    .advice{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 448px){
    .advice-wrapper{
        padding:3em 9%;
    }
}